*{
    box-sizing: border-box;
}
body{
    font-family: inherit;
    font-size: 15px;
}

.container{
    width: 950px;
    height: auto;
    margin: auto;
    margin-top: 0;
}
.container h1{
    margin-bottom: 3px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 25px; 
}
.card{
    padding-top: 0;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
}
.header_newTask{
    padding: 15px;
    font-size: 18px;
    background-color: rgba(0,0,0,.03);
    border-bottom: .5px solid rgba(0,0,0,.125);
}
.body_newTask{
    height: 70px;
}
#input{
    margin: 15px 20px;
    margin-right: 0;
    width: 860px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
}
#btn_add{
    margin-left:0 ;
    height: 30px;
    width: 40px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3px;
    background-color: #1683f7;
    color: #fff;
}
#header_tasklist{
    margin-top: 15px;
    padding: 15px;
    font-size: 18px;
    background-color: rgba(0,0,0,.03);
    border: .5px solid rgba(0,0,0,.125);
    border-radius: 3px;
}
#btn_deleteall{
    float: right;
    color:#DC3545;
    border: 1px solid #DC3545;
    border-radius: 3px;
    padding: 3px;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
}
#btn_deleteall:hover{
    color: #fff;
    background-color: #DC3545;
    transition: .5s;
}
#list {
    background-color: #D6D8DB;
    border: .5px solid rgba(0,0,0,.125);
    border-radius: 3px;
}
#btn_delete{
    float: right;
    margin-right: 10px;
    color: #fff;
}
#btn_delete:hover{
    color:#DC3545 ;
    transition: .2s;
}
#list_ul{
    margin: 0;
    padding: 0;
}
.liStyle{
    list-style-type: none;
    padding: 12px;
    border-bottom: .5px solid rgba(0,0,0,.125);
    cursor: pointer;
    position: relative;
    font-size: 15px;
    transition: 0.2s;
}
.liStyle:hover{
    background: #ddd;
}